<div class="container">
  <h1>Post: <%= @post.title %> </h1>
  <p><b>Description:</b></p> <p><%= @post.description %> </p>
  <p><b>Compensation:</b> <%= @post.compensation %> </p>  
  <p><b>Name:</b> <%= @post.poster_name  %> </p>
  <p><b>Email:</b> <%= @post.email  %> </p>
  <p><b>Location:</b> <%= @post.location %> </p>
  <p><b>Postcode:</b> <%= @post.postcode %> </p>
  <p><b>Phone Number:</b> <%= @post.phone_number  %> </p>
</div>